{% extends 'processor/extends/header.html' %}
{% load filterarrays %}

{% block body %}
  <table style="margin-left:10px;height:300px;width:100%;display:block;">
    <tr style="table-layout:fixed;">
      <td width=40% style="background:#fff; padding:1%;">
        {% if error %}
          <div class="alert alert-danger" role="alert">
            ERROR!
          </div>
        {% endif %}
        <div class="float-left">Please enter codes here</div>
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark btn-sm float-right mb-3">Load ▶</button>
          <a class="btn btn-dark btn-sm float-right mb-3 mr-1" href="{% url 'processor:initialize' %}">Reset</a>
          <div>
            <textarea rows="10" cols="78" name="commands" style="width:100%; resize:none;">{% for prog in progObjects %}{{ prog.instruction }}&#13;&#10;{% endfor %}</textarea>
          </div>
        </form>
      </td>
      <td width=60% style="padding: 1%;">Opcode
        <table class="table table-sm" style="background:#272f45;color:#fff;">
          <thead style="display:block;width:100%;">
            <tr>
              <th style="width:1%;" scope="col">Address</th>
              <th style="width:1%;" scope="col">Command</th>
              <th style="width:1%;" scope="col">Opcode</th>
            </tr>
          </thead>
          <tbody style="height:300px;display:block;width:100%;overflow:auto;">
            {% for prog in progObjects %}
            <tr>
              {% if not error %}
              <td style="width:1%;">{{ prog.addr }}</td>
              <td style="width:1%;">{{ prog.instruction }}</td>
              <td style="width:1%;">{{ prog.opcode }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
     <td style="padding: 1%;">Internal
        <table class="table table-sm table-bordered" style="background:#272f45;color:#fff;">
          <thead>
            <tr>
              <th style="width:1%;" scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>IF/ID.IR</td>
            </tr>
            <tr>
              <td>IF/ID.NPC,PC</td>
            </tr>
            <tr>
              <td>ID/EX.A</td>
            </tr>
            <tr>
              <td>ID/EX.NPC</td>
            </tr>
            <tr>
              <td>ID/EX.Imm</td>
            </tr>
            <tr>
              <td>EX/MEM.IR</td>
            </tr>
            <tr>
              <td>EX/MEM.ALUOutput</td>
            </tr>
            <tr>
              <td>EX/MEM.cond</td>
            </tr>
            <tr>
              <td>MEM/WB.IR</td>
            </tr>
            <tr>
              <td>MEM/WB.ALUOutput</td>
            </tr>
            <tr>
              <td>WB</td>
            </tr>
          </tbody>
        </table>
      </td>
      
      <td style="padding: 1%;">Pipeline
        <table class="table table-sm table-bordered" style="background:#272f45;color:#fff;">
          <thead>
            <tr>
              <th style="width:1%;" scope="col">Instruction</th>
              {% for p in pipLast %}<th>{{ p }}</th>{% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for prog in progObjects %}
            <tr class="pipelineRows">
              <td>{{ prog.instruction }}</td>
              {% if pipeline %}{% for pip in pipeline|index:forloop.counter0 %}<td>{{ pip }}</td>{% endfor %}{% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}


