{% extends 'processor/extends/header.html' %}

{% block body %}
  <table width=100% style="margin-left:10px;height:300px;">
    <tr style="table-layout:fixed;">
      <td width=40% style="background:#fff; padding:1%;">
        {% if error %}
          <div class="alert alert-danger" role="alert">
            ERROR!
          </div>
        {% endif %}
        <div class="float-left">Please enter codes here</div>
        <form method="POST">
          {% csrf_token %}
          <button type="submit" class="btn btn-dark btn-sm float-right mb-3">Load ▶</button>
          <a class="btn btn-dark btn-sm float-right mb-3 mr-1" href="{% url 'processor:initialize' %}">Reset</a>
          <div>
            <textarea rows="10" cols="78" name="commands" style="width:100%; resize:none;">{% for prog in progObjects %}{{ prog.instruction }}&#13;&#10;{% endfor %}</textarea>
          </div>
        </form>
      </td>
      <td width=60% style="background:#272f45;color:#fff;padding:1%;">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">Address</th>
              <th scope="col">Command</th>
              <th scope="col">Opcode</th>
            </tr>
          </thead>
          <tbody style="overflow:scroll; height:300px;">
            {% for prog in progObjects %}
            <tr>
              {% if not error %}
              <th scope="row">{{ prog.addr }}</th>
              <td>{{ prog.instruction }}</td>
              <td>{{ prog.opcode }}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>Pipeline
        <table class="table table-sm">
          {% for prog in progObjects %}
          <tr>
            <td>{{ prog.instruction }}</td>
            <td>
          </tr>
          {% endfor %}
        </table>




      </td>
      <td>Internal
        <table>

        </table>





      </td>
    </tr>
  </table>
{% endblock %}
